* {
	box-sizing: border-box;
}

body {
	min-width: 375px;
	margin: 0;
}

.container {
	max-width: 1280px;
	padding: 0 15px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-template-rows: repeat(2, 200px);
	gap: 30px;
}

.wrapper {
	min-height: 100vh;
	display: grid;
	grid-template-columns: repeat(auto-fit, 12);
}

.header {
	grid-column: 1/12 span;
	background-color: #f00;
	min-height: 100px;
}

.aside {
	background-color: #e2e20d;
	grid-column: 1/2 span;
}

.main {
	background-color: #31bb0a;
	padding-top: 30px;
	padding-bottom: 30px;
	grid-column: 3 /10 span;
}

.article {
	background-color: #de6e05;
	min-height: 200px;
}

.footer {
	background-color: #0b2fe2;
	min-height: 150px;
	grid-column: 1/12 span;
}
