@font-face {
	font-family: "Ubuntu";
	src: url("../FONT/fonts/UbuntuMedium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Ubuntu";
	src: url("../FONT/fonts/UbuntuRegular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Ubuntu";
	src: url("../FONT/fonts/Ubuntu-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Oswald";
	src: url("../FONT/fonts/OswaldMedium.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Oswald";
	src: url("../FONT/fonts/OswaldSemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
