html {
	font-family: sans-serif;
}
* {
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	min-height: 100vh;
}
.Form {
	background-color: #f8000024;
	border: 2px solid #f800008f;
	border-radius: 20px;

	max-width: 400px;
	width: 100%;
	padding: 30px;
}
.form-group {
	border: none;
	padding: 0;
}
.form-group-title {
	font-weight: 700;
	padding: 0;
	margin-bottom: 15px;
}
.label {
	display: inline-block;
	margin-bottom: 5px;
}

.input {
	border: 1px solid #333;
	border-radius: 6px;
	width: 100%;
	padding: 5px 12px;
	margin-bottom: 20px;
	outline: none;
}

.input:focus-visible {
	outline: 2px solid #9e1fff;
	outline-offset: 1px;
}

.checkbox {
	position: absolute;
	appearance: none;
	outline: none;
	margin-bottom: 40px;
}

.checkbox-text {
	font-size: 14px;
}
.checkbox-label {
	padding-left: 22px;
}
.checkbox::after {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	margin-left: -22px;
	border: 1px solid #333;
	border-radius: 4px;
	cursor: pointer;
}
.checkbox:checked::after {
	background: url("./form/images/check-icon.svg") no-repeat center, #9e1fff;
}
.checkbox:focus-visible::after {
	outline: 2px solid #9e1fff;
	outline-offset: 1px;
}
.button {
	border: none;
	border-radius: 6px;
	padding: 6px 18px;
	background-color: #9e1fff;
	color: #fff;
	cursor: pointer;
	transition: opacity 0.2s;
}

.button:hover {
	opacity: 0.85;
}

.button:not(:disabled):active {
	background-color: #8719db;
}
