html {
	font-family: sans-serif;
}

body {
	box-sizing: border-box;
}
.link {
	color: black;
	display: block;
	border: 10px solid;
	background-color: black;
	margin-bottom: 20px;
	margin-top: 15px;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
}
.list {
	color: black;
	text-decoration: underline;
	white-space: nowrap;
}
.container {
	max-width: 1320px;
	padding: 0 15px;
	margin: auto;
	margin-bottom: 10px;
	border-bottom: 2px solid;
}

.head-container {
	display: flex;

	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.header-list {
	margin-left: auto;
	margin-right: auto;
}
.link-2 {
	margin-top: 10px;
	color: black;
	text-decoration: none;
	text-align: right;
	min-width: 100px;
}
