@font-face {
	font-family: satoshi;
	src:
		local("satoshi regular"),
		local("satoshi-regular"),
		url("../../fonts/satoshi-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: IntegraICF;
	src:
		local("IntegraICF Heavy"),
		local("IntegraICF-Heavy"),
		url("../../fonts/IntegraICF-Heavy.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
