@font-face {
	font-family: Satoshi;
	src:
		local("Satoshi regular"),
		local("Satoshi-regular"),
		url("../../fonts/satoshi-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: IntegralCF;
	src:
		local("IntegralCF Heavy"),
		local("IntegralCF-Heavy"),
		url("../../fonts/IntegralCF-Heavy.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
