:root {
	/* font-family */
	--font-family-text: "satoshi", sans-serif;
	--font-family-title: "Fontspring-DEMO-integralcf", sans-serif;

	/* container */
	--container-width: 1440px;
	--container-padding: 15px;

	--main-color: #000;

	--layer--1: -1;
	--layer-0: 0;
	--layer-1: 1;
	--layer-2: 2;
	--layer-2: 3;

	--transition-time: 0.2s;
}
