:root {
	/* font-family */
	--font-family-text: "satoshi", sans-serif;
	--font-family-title: "IntegraICF Heavy", sans-serif;

	/* container */
	--container-width: 1240px;
	--container-padding: 16px;

	--main-color: #000;
	--bg-color: #f0f0f0;
	--text-color: rgba(0, 0, 0, 0.6);
	--discount-percent-color: #f33;
	--discount-percent-bg-color: rgba(255, 51, 51, 0.1);
	--border-color: rgba(0, 0, 0, 0.1);

	--layer--1: -1;
	--layer-0: 0;
	--layer-1: 1;
	--layer-2: 2;
	--layer-3: 3;

	--transition-time: 0.2s;
}
