.page {
	font-family: var(--font-family);
	font-weight: 400;
	color: var(--main-color);
	scroll-behavior: smooth;
	scroll-padding-top: px;
}

.page__body {
	min-width: 375px;
	background-color: var(--bg-color);
	min-height: 250vw;
}

.page__body--no-scroll {
	overflow-y: hidden;
}

.container {
	width: min(var(--container-width), 100% - var(--container-padding) * 2);
	margin-inline: auto;
}

img {
	object-fit: cover;
}

a:focus-visible,
button:focus-visible {
	outline: 1px solid var(--accent-color);
	outline-offset: 2px;
}

.title-md {
	font-weight: 600;
	font-size: clamp(32px, 0.936rem + 4.54vw, 60px);
	text-transform: uppercase;
	color: var(--main-color);
}

.text-light,
.text-regular {
	font-size: 16px;
	line-height: 140%;
	color: #fff;
}

.text-light {
	font-weight: 300;
}

.text-regular {
	font-weight: 400;
}
