.choose-your-style__container {
	background-color: var(--bg-color);
	border-radius: 40px;
	margin-bottom: 68px;
}

@media (width <= 768px) {
	.choose-your-style__container {
		margin-bottom: 50px;
	}
}

.choose-your-style__title {
	padding-top: 70px;
	text-align: center;
	white-space: wrap;
}

@media (width <= 768px) {
	.choose-your-style__title {
		margin-bottom: 40px;
	}
}

.choose-your-style__list {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding-inline: 64px;
	padding-bottom: 76px;
}

.choose-your-style__list-img-container {
	position: relative;
}

.choose-your-style__link-text {
	position: absolute;
	top: 10%;
	left: 5%;
	font-weight: 700;
	font-size: 36px;
	color: var(--main-color);
}

@media (width <= 1024px) {
	.choose-your-style__link-text {
		font-size: 28px;
	}
}

@media (width <= 992px) {
	.choose-your-style__link-text {
		font-size: 25px;
		z-index: var(--layer-1);
	}
}

@media (width <= 768px) {
	.choose-your-style__link-text {
		font-size: 24px;
	}
}

.choose-your-style__link-img {
	border-radius: 20px;
	min-width: 173px;
	min-height: 200px;
}

@media (width <= 768px) {
	.choose-your-style__link-img {
		filter: blur(2px);
		z-index: var(--layer--1);
	}
}

@media (width <= 768px) {
	.choose-your-style__list {
		padding-inline: 23px;
		padding-bottom: 27px;
	}
	.choose-your-style__link-img {
		width: 310px;
		height: 190px;
	}
}

.choose-your-style__list-up-row,
.choose-your-style__list-down-row {
	display: flex;
	gap: 20px;
}

@media (width <= 768px) {
	.choose-your-style__list-up-row,
	.choose-your-style__list-down-row {
		flex-direction: column;
		align-items: center;
		gap: 16px;
	}
}
