.footer {
	position: relative;
	background: var(--bg-color);
}

.footer__container {
	padding-top: 140px;
	padding-bottom: 82px;
}

@media (width <= 768px) {
	.footer__container {
		padding-top: 195px;
	}
}

.footer__navigation-list {
	display: flex;
	flex-wrap: nowrap;
	gap: clamp(60px, -0.393rem + 8.63vw, 118px);
	border-bottom: 1px solid var(--border-color);
	margin-bottom: 25px;
	padding-bottom: 50px;
}

@media (width <= 992px) {
	.footer__navigation-list {
		flex-direction: column;
		gap: 50px;
		padding-bottom: 40px;
	}
}

@media (width <= 480px) {
	.footer__navigation-list {
		flex-direction: column;
		gap: 24px;
	}
}

.footer__navigation-list-item {
	min-width: 132px;
}

.footer__navigation-list-item-title {
	font-weight: 500;
	font-size: 16px;
	line-height: 113%;
	letter-spacing: 0.19em;
	text-transform: uppercase;
	color: var(--main-color);
	padding-bottom: 26px;
}

@media (width < 992px) {
	.footer__navigation-list-item-title {
		font-size: 14px;
		line-height: 129%;
		letter-spacing: 0.21em;
		padding-right: 30px;
	}
}

.footer__navigation-list-item-menu {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 15px;
}

.footer__list-item-logo {
	display: flex;
	flex-direction: column;
}

@media (width > 992px) {
	.footer__list-item-logo {
		max-width: 248px;
		max-height: 177px;
	}
}

@media (width <= 992px) {
	.footer__list-item-logo {
		width: 100%;
	}
}

.footer__navigation-list-menu {
	display: flex;
	white-space: nowrap;
	gap: clamp(30px, -4.411rem + 13.1vw, 118px);
}

.footer__navigation-list-menu-first-row,
.footer__navigation-list-menu-second-row {
	display: flex;
	white-space: nowrap;
	gap: clamp(30px, -4.411rem + 13.1vw, 118px);
}
@media (width <= 992px) {
	.footer__navigation-list-menu,
	.footer__navigation-list-menu-first-row,
	.footer__navigation-list-menu-second-row {
		gap: clamp(45px, -12.83rem + 32.59vw, 118px);
	}
}

@media (width <= 768px) {
	.footer__navigation-list-menu {
		flex-direction: column;
		gap: 100px;
	}
	.footer__navigation-list-menu-first-row,
	.footer__navigation-list-menu-second-row {
		gap: clamp(100px, -4.635rem + 42.21vw, 250px);
	}
}

@media (width <= 468px) {
	.footer__navigation-list-menu {
		gap: 24px;
	}

	.footer__navigation-list-menu-first-row,
	.footer__navigation-list-menu-second-row {
		gap: 59px;
	}
}

.footer__logo {
	padding-bottom: 25px;
}

@media (width < 992px) {
	.footer__logo-icon {
		width: 144px;
		height: 20px;
	}
}

.footer__navigation-list-item-text {
	font-size: 14px;
	padding-bottom: 35px;
}

@media (width <= 768px) {
	.footer__navigation-list-item-text {
		padding-bottom: 20px;
	}
}

.footer__media-links-list {
	display: flex;
	gap: 12px;
}

.footer__end {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media (width <= 768px) {
	.footer__end {
		flex-direction: column;
		gap: 16px;
	}
}

.footer__end-text {
	display: flex;
	align-items: flex-start;
	text-align: center;
	white-space: nowrap;
	padding-right: 30px;
	font-weight: 400;
	font-size: 14px;
	text-align: right;
	color: rgba(0, 0, 0, 0.6);
}

.footer__end-cards-list {
	display: flex;
	gap: 12px;
	padding-right: 20px;
}

@media (width <= 768px) {
	.footer__end-cards-list {
		gap: 0px;
	}
}
