.header__container {
	display: flex;
	text-align: center;
	align-items: center;
	gap: clamp(15px, 0.357rem + 2.38vw, 40px);
	margin-top: 24px;
	margin-bottom: 33px;
	transition: box-shadow var(--transition-time);
}

.header--fixed {
	box-shadow: 0 0 20px var(--bg-color);
}

@media (width <= 992px) {
	.header__container {
		margin: 23px 0px 20px 0px;
	}
}

@media (width <= 768px) {
	.header__container {
		gap: clamp(96px, -12.313rem + 75.13vw, 380px);
	}
}

.header__burger-logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

@media (width <= 768px) {
	.header__burger-logo {
		gap: 16px;
	}
}

@media (width > 768px) {
	.header__burger {
		display: none;
		visibility: hidden;
	}
}

@media (width <= 768px) {
	.header__burger {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: var(--layer-3);
		width: 24px;
		height: 24px;
	}
}

.header__logo {
	width: clamp(160px, 10.789rem + -3.24vw, 126px);
}

@media (width > 768px) {
	.header__menu {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		white-space: nowrap;
		gap: 24px;
	}
}

@media (width <= 992px) {
	.header__menu {
		gap: 15px;
	}
}

@media (width <= 768px) {
	.header__menu {
		flex-direction: column;
		align-items: flex-end;
		text-align: end;
		position: fixed;
		background-color: var(--main-color);
		top: 0;
		right: -100vw;
		bottom: 0;
		z-index: var(--layer-2);
		min-width: 297px;
		padding: 144px 15px 20px 0;
		opacity: 0;
		visibility: hidden;
		transition:
			right var(--transition-time),
			opacity var(--transition-time),
			visibility var(--transition-time);
	}

	.header__menu--open {
		right: 0;
		opacity: 1;
		visibility: visible;
	}
}
.header__menu-shop {
	display: flex;
	gap: 4px;
}

.header__menu-item-link {
	font-weight: 400;
	font-size: 16px;
	color: var(--main-color);
}

.header__search {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	padding: 12px 16px;
	width: clamp(400px, 16.696rem + 13.39vw, 460px);
	height: 48px;
	background: var(--bg-color);
	border-radius: 62px;
}

@media (width > 992px) {
	.header__actions-button--search {
		display: none;
	}
}

@media (width <= 992px) {
	.header__search {
		display: none;
		visibility: hidden;
	}

	.header__actions-button--search {
		width: 24px;
		height: 24px;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: var(--main-color);
	}
}

.header__search-label {
	display: flex;
	align-items: center;
	text-align: center;
	gap: 12px;
}

.header__search-input {
	outline: none;
	border: none;
	background: none;
	width: clamp(334px, 19.482rem + 5.71vw, 394px);
}

.header__actions {
	display: flex;
	align-items: center;
	text-align: center;
}

@media (width > 992px) {
	.header__actions {
		gap: 14px;
	}
}

@media (width <= 992px) {
	.header__actions {
		gap: 12px;
	}
}

.burger__icon-menu,
.burger--open .burger__icon-cross {
	display: block;
}

.burger__icon-cross,
.burger--open .burger__icon-menu {
	display: none;
}
