.new-arrivals {
	padding-bottom: 64px;
}

.new-arrivals__container {
	border-bottom: 1px solid var(--border-color);
}

.new-arrivals__list {
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 20px;
	padding-bottom: 36px;
}
@media (width > 992px) {
	.new-arrivals__list-second-row,
	.new-arrivals__list-first-row {
		display: flex;
		gap: 20px;
	}
}

@media (width < 992px) {
	.new-arrivals__list-second-row .new-arrivals__list-first-row {
		justify-content: center;
	}
}

.new-arrivals__list-item-img {
	padding-bottom: 16px;
}

.new-arrivals__list-item-info {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.list-item-info__rating {
	display: flex;
	align-items: center;
	text-align: center;
	gap: 13px;
}

.list-item-info__rating-numbers-5 {
	color: var(--text-color);
}

.list-item-info__price-section {
	display: flex;
	align-items: center;
	text-align: center;
	gap: 10px;
}

.new-arrivals__get-more-button {
	margin: auto;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	border: 1px solid var(--border-color);
	border-radius: 62px;
	padding: 16px 54px;
	margin-bottom: 64px;
	transition:
		opacity var(--transition-time),
		color var(--transition-time);
}
@media (any-hover: hover) {
	.new-arrivals__get-more-button:hover {
		opacity: 0.5;
	}

	.new-arrivals__get-more-button:active {
		opacity: var(--main-color);
	}
}
