.reviews__container {
	margin-bottom: 170px;
}

@media (width <= 768px) {
	.reviews__container {
		margin-bottom: 220px;
	}
}

.reviews__title {
	text-align: flex-start;
	padding-bottom: 40px;
}

@media (width <= 768px) {
	.reviews__title {
		padding-bottom: 24px;
	}
}

.reviews__header {
	display: flex;
	justify-content: space-between;
}

@media (width <= 768px) {
	.reviews__title {
		padding-right: 30px;
	}
}

.reviews__header-swap-arrows {
	display: flex;
	justify-content: flex-end;
	gap: 16px;
}

.reviews__list {
	display: flex;
	gap: 20px;
}

.reviews__list-item {
	display: flex;
	flex-direction: column;
	border: 1px solid var(--border-color);
	border-radius: 20px;
	padding: 28px 32px;
	width: 400px;
	height: 240px;
	min-width: 358px;
}

@media (width <= 526px) {
	.reviews__list-item {
		padding: 24px;
	}
}

@media (width <= 768px) {
	.reviews__title {
		margin-bottom: 24px;
		white-space: wrap;
	}
}

@media (width > 526px) {
	.reviews__list-item-stars-5 {
		width: 139px;
		height: 23px;
	}
}

@media (width <= 526px) {
	.reviews__list-item-stars-5 {
		width: 118px;
		height: 20px;
	}
}

@media (width <= 992px) {
	.review-3 {
		display: none;
	}
}

@media (width <= 768px) {
	.reviews__list {
		justify-content: center;
	}
	.review-2 {
		display: none;
	}
}

.reviews__list-item-stars {
	padding-bottom: 15px;
}

@media (width <= 768px) {
	.reviews__list-item-stars {
		padding-bottom: 12px;
	}
}
.reviews__list-item-name {
	display: flex;
	gap: 4px;
	text-align: center;
	align-items: center;
	padding-bottom: 12px;
}

.reviews__list-item-name-text {
	font-weight: 700;
	font-size: 20px;
	line-height: 110%;
	color: #000;
}
