.burger__menu {
	background-color: rgba(0, 0, 0, 0.575);
	position: fixed;
	top: 0;
	right: 0;
	width: 50vh;
	height: 200vh;
	box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
	transform: translateX(0%);
	transition: transform 0.4s ease-out;
	z-index: 2;
}
.close {
	transform: translateX(100%);
}

.Burger-cross {
	margin-left: 45vh;
	margin-top: 5vh;
	cursor: pointer;
}

.burger__menu-items {
	display: flex;
	align-items: end;
	text-align: center;
	flex-direction: column;
	margin-top: 100px;
	margin-right: 40px;
	gap: 50px;
}

.burger__menu-item-link {
	font-weight: 400;
	font-size: 16px;
	color: white;
}

.blur {
	filter: blur(5px);
}
