.header__container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
	margin: 24px 100px 24px 100px;
	padding: 13px 0;
}

@media (width <= 992px) {
	.header.header__container {
		margin: 23px 56px 23px 56px;
	}
}

.header__logo {
	width: clamp(160px, 10.789rem + -3.24vw, 126px);
}

.header__menu {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 24px;
}

@media (width > 992px) {
	.header__menu {
		gap: 24px;
	}
}

@media (width <= 992px) {
	.header__menu {
		gap: 15px;
	}
	.header_menu-item-arrow {
		padding-right: 15px;
	}
}

@media (width <= 576px) {
	.header__menu {
		display: none;
	}
}

.header__menu-item-link {
	font-weight: 400;
	font-size: 16px;
	color: var(--main-color);
}

.header__menu-item-link-menu {
	display: flex;
	gap: 4px;
}

.header__search {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	padding: 12px 16px;
	width: clamp(400px, 23.561rem + 5.9vw, 464rem);
	height: 48px;
	background: #f0f0f0;
	border-radius: 62px;
}

.header__search-button {
	width: 24px;
	height: 24px;
}

@media (width <= 992px) {
	.header__search {
		display: none;
	}
}

@media (width <= 992px) {
	.header__actions-button-search {
		display: flex;
		color: var(--main-color);
		width: 24px;
		height: 24px;
	}
}

@media (width > 992px) {
	.header__actions-button-search {
		display: none;
	}
}

.header__search-label {
	display: flex;
	align-items: center;
	text-align: center;
	gap: 12px;
}

.header__search-input {
	outline: none;
	border: none;
	background: none;
	min-width: 394px;
}

.header__actions {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}

@media (width > 992px) {
	.header__actions {
		gap: 14px;
	}
}

@media (width <= 992px) {
	.header__actions {
		gap: 12px;
	}
}
