html {
	font-family: Ubuntu, sans_serif;
	font-weight: 500;
}
*body {
	box-sizing: border-box;
}
h1,
h2,
h3,
h4,
p {
	margin: 0px;
}
.container {
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 15px;
}

.article {
	padding-top: 80px;
	margin-bottom: 120px;
}
.article-title {
	font-family: "Oswald";
	max-width: 596px;
	font-weight: 600;
	line-height: 115%;
	text-transform: uppercase;
	color: #2c332f;
	margin-bottom: 40px;
}
.article-title-large {
	max-width: 596px;
	font-size: 48px;
}
.article-title-medium {
	max-width: 596px;
	font-size: 36px;
}
.article-text {
	margin-bottom: 20px;
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: #535755;
}
.article-mb {
	margin-bottom: 80px;
}
.article-img {
	width: 100%;
}
.article-list {
	margin-top: 0px;
	padding-left: 14px;
}
.list-item {
	margin-bottom: 12px;
}
.article-list-bottom {
	margin-bottom: 80px;
}
.video {
	width: 100%;
	margin-bottom: 40px;
}
