body {
	font-family: sans-serif;
}
fieldset {
	display: inline-block;
	border-radius: 20px;
	border: 2px solid;
	padding-right: 200px;
}
button {
	display: block;
	cursor: pointer;
	margin-bottom: 20px;
	border-radius: 5px;
}
textarea {
	display: block;
	resize: vertical;
	max-height: 200px;
	margin-bottom: 30px;
}
label {
	display: block;
	font-size: larger;
}
input {
	margin-bottom: 30px;
	display: block;
	border-radius: 4px;
}
.check {
	display: inline;
}
